<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flow"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","style":{"typography":{"textTransform":"uppercase","letterSpacing":"0.08em","fontStyle":"normal","fontWeight":"700"}},"textColor":"accent-2","fontSize":"small"} -->
<p class="has-text-align-center has-accent-2-color has-text-color has-small-font-size" style="font-style:normal;font-weight:700;letter-spacing:0.08em;text-transform:uppercase">Speakers</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"textAlign":"center","fontSize":"x-large"} -->
<h2 class="wp-block-heading has-text-align-center has-x-large-font-size">Voices from the WordPress community</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","textColor":"accent-2","fontSize":"large","fontFamily":"kalam"} -->
<p class="has-text-align-center has-accent-2-color has-text-color has-large-font-size has-kalam-font-family">Aamchi Mumbai, Aapla WordPress</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->
