<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/2027/tickets/">Get tickets</a></div>
<!-- /wp:button -->

<!-- wp:button {"textColor":"accent-1","className":"is-style-outline"} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-accent-1-color has-text-color wp-element-button" href="/2027/contact/">Contact us</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->
